<% layout('layout') -%>
<div class="container">
	<div class="language">
		<h2>Spanish</h2>
		<hr/>
		<div class="people">
			<div>
				<img src="/img/me.jpg"/>
				<h4>Michael</h4>
				<p><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span></p>
			</div>

			<div>
				<img src="/img/me.jpg"/>
				<h4>Michael</h4>
				<p><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span></p>
			</div>
		</div>
	</div>
<div class="alert alert-info" style="clear:both">
  		Are you sure you want to call Michael? <a href="#" class="alert-link">Yes</a> <a href="#" class="alert-link">No</a>
	</div>
	<div class="language">
		<h2>German</h2>
		<hr/>
		<div class="people">
			<div>
				<img src="/img/me.jpg"/>
				<h4>Michael</h4>
				<p><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span></p>
			</div>

			<div>
				<img src="/img/me.jpg"/>
				<h4>Michael</h4>
				<p><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span><span class="glyphicon glyphicon glyphicon-star"></span></p>
			</div>
		</div>
	</div>

	
</div>